<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->

    <title>2020_CAP_TEAM8</title>

    <!-- 부트스트랩 -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- link for google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/theme.css" rel="stylesheet">

  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">2020 CAP TEAM 8</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="about.html">About</a></li>
            <li class="active"><a href="members.html">Members</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="jumbotron">
      <div class="container">
        <h1>👨‍👩‍👦‍👦 Members</h1>
        <p>This is a page for description of our team members.</p>
      </div>
    </div>

    <!--Company part--------------------------------------------------------------------------------------->
    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="members.html">Team Members</a></li>
        <li role="presentation"><a href="members_professor.html">Advisor Professor</a></li>
        <li role="presentation" class="active"><a href="members_company.html">Company</a></li>
      </ul>

      <div class="page-header">
        <h1>WooKyoung Information Tech.</h1>
      </div>

      <div class="row">
        <div class="col-md-1">
        </div> 
        <div class="col-md-5">
          <img src="/static/images/wk_company.JPG" width=400 alt="wk_company">
        </div> 
        <div class="col-md-5">
          <address>
            <br><strong>Head Office</strong><br>
            24-5, Alphacity 1-ro 31-gil, Suseong-gu, Daegu, Korea<br><br>
            <strong>Tel</strong><br>
            +82 1588 5105<br>
            <strong>Fax</strong><br>
            +82 53 794 3042
          </address>
          <address>
            <strong>Email</strong><br>
            wkitglobal@wkit.co.kr
          </address>
          <a class="btn btn-default btn-xs" href="http://www.wkit.co.kr" role="button" target="_blank">visit website&raquo;</a>
        </div>
      </div>
      <br><br>

      <div class="row">
        <div class="col-md-1">
        </div> 
        <div class="col-md-5">
          <h4>Main product line</h4>
          <ul>
            <li>CCTV video information security system</li>
            <li>SECUWATCHER for CCTV</li>
            <li>Face recognition and search solutions</li>
            <li>Cloud-based content copyright protection solution</li>
          </ul>
        </div>
        <div class="col-md-5">
          <h4>Business areas</h4>
          <ul>
            <li>Software development</li>
            <li>Develop and sell video information security solutions</li>
            <li>Information security construction and consulting</li>
            <li>System Integration/Network Integration</li>
          </ul>
        </div>
      </div><br>
    <!--Mentor part--------------------------------------------------------------------------------------->
      <div class="page-header">
        <h1>Mentor</h1>
      </div><br>
      <div class=row>
        <div class="col-md-1">
        </div> 
        <div class="col-md-3">
          <img src="/static/images/Mentor.png" width=170 alt="wk_mentor">
        </div>
        <div class="col-md-7">
          <h1>Dae-Soo Kim<br><small>CTO of IT development Lab <br>from WooKyoung Information Tech.</small></h1><br>

          <h4>Email<small>&nbsp;&nbsp;&nbsp;dskim@wkit.co.kr</small></h4>
          <h4>Tell<small>&nbsp;&nbsp;&nbsp;+82 010-2527-7087</small></h4>
        </div>
      </div>
    </div>

    <hr><!--line-->
    <div class="container">
      <footer>
        <p>&copy; KNU CSE 2020 CAP Team 8</p>
      </footer>
    </div>
    <!-- Bootstrap core JavaScript================================================== -->
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>