<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->

    <title>2020_CAP_TEAM8</title>

    <!-- 부트스트랩 -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- link for google fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/theme.css" rel="stylesheet">

  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">2020 CAP TEAM 8</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="about.html">About</a></li>
            <li class="active"><a href="members.html">Members</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


    <div class="jumbotron">
      <div class="container">
        <h1>👨‍👩‍👦‍👦 Members</h1>
        <p>This is a page for description of our team members.</p>
      </div>
    </div>

    <div class="container">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="members.html">Team Members</a></li>
        <li role="presentation"><a href="members_professor.html">Advisor Professor</a></li>
        <li role="presentation"><a href="members_company.html">Company</a></li>
      </ul>

      <br><br><br><!--Mem1     ------------------------------------------------------------------------>
      <div class="row">
        <div class="col-md-2">
          <img src="/static/images/profile/JJ.jpg" width = 140 alt="" class="img-circle">
        </div> 
        <div class="col-md-4">
          <h2>Jeong-Jin Lee</h2>
          <p>KNU CSE . student ID : 2015114832</p>
          <h4>Email<small>&nbsp;&nbsp;&nbsp;jin@knu.ac.kr</small></h4>
          <h4>Role</h4>
            <ul>
              <li>Developing Super Resolution</li>
              <li>Assist Developing License Plate Detection</li>
              <li>Create Training and Test Data </li>
              <li>Web back-end</li>
            </ul>
        </div>
        <!--Mem2     ----------------------------------------------------------------------->
        <div class="col-md-2">
          <img src="/static/images/profile/JB.jpg" width = 140 alt="" class="img-circle">
        </div> 
        <div class="col-md-4">
          <h2>Jun-Beom Moon</h2>
          <p>KNU CSE . student ID : 2017113617</p>
          <h4>Email<small>&nbsp;&nbsp;&nbsp;jph04135@naver.com</small></h4>
          <h4>Role</h4>
            <ul>
              <li>Project managing</li>
              <li>Neural Network Architecture Design</li>
              <li>Neural Network Training and Tuning</li>
              <li>Image Preprocessing</li>
            </ul>
        </div>
      </div>
      <br><br><br><!--Mem3     ------------------------------------------------------------------------>
      <div class="row">
       <div class="col-md-2">
          <img src="/static/images/profile/BH.jpg" width = 140 alt="Mim_bomi" class="img-circle">
        </div> 
        <div class="col-md-4">
          <h2>Bo-mi Gu</h2>
          <p>KNU CSE . student ID : 2016114034</p>
          <h4>Email<small>&nbsp;&nbsp;&nbsp;kbm06521@gmail.com</small></h4>
          <h4>Role</h4>
            <ul>
              <li>Developing Optical Character Recognition</li>
              <li>Assist Project managing</li>
              <li>Web front-end</li>
              <li>Create Training and Test Data </li>
            </ul>
        </div>
      <!--Mem4     ------------------------------------------------------------------------>
        <div class="col-md-2">
          <img src="/static/images/profile/JH.jpg" width = 140 alt="" class="img-circle">
        </div> 
        <div class="col-md-4">
          <h2>Jun-Ha Lee</h2>
          <p>KNU CSE . student ID : 2015110667</p>
          <h4>Email<small>&nbsp;&nbsp;&nbsp;junha03011@gmail.com</small></h4>
          <h4>Role</h4>
            <ul>
              <li>Developing Super Resolution</li>
              <li>Assist Developing Optical Character Recognition</li>
              <li>Neural Network Training</li>
              <li>Web back-end</li>
            </ul>
        </div>
      </div>
      <br><br><br><!--Mem5     ------------------------------------------------------------------------>
      <div class="row">
         <div class="col-md-2">
          <img src="/static/images/profile/DH.jpg" width = 140 alt="" class="img-circle">
        </div> 
        <div class="col-md-4">
          <h2>Dong-Hun Kim</h2>
          <p>KNU CSE . student ID : 2014105012</p>
          <h4>Email<small>&nbsp;&nbsp;&nbsp;tmxkqotnl@gmail.com</small></h4>
          <h4>Role</h4>
            <ul>
              <li>Developing License Plate Detection</li>
              <li>Image Preprocessing</li>
              <li>Create Training and Test Data </li>
            </ul>
        </div> 
      </div>
      <br>
    </div>    
    
    <hr><!--line-->
    <div class="container">
      <footer>
        <p>&copy; KNU CSE 2020 CAP Team 8</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript================================================== -->
    <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- 모든 컴파일된 플러그인을 포함합니다 (아래), 원하지 않는다면 필요한 각각의 파일을 포함하세요 -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>